<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

	<listeners>
		<listener class-name="Academy.listeners"/>
	</listeners>

	<test thread-count="5" name="Validate Login">
		<classes>
			<class name="Academy.ValidateLogin" />
		</classes>
	</test>

	<test name="Validate Contact Navigation">
		<classes>
			<class name="Academy.ValidateNavContactsTest" />
		</classes>
	</test>

	<test name="Validate Title">
		<classes>
			<class name="Academy.ValidateFeatureTitleTest" />
		</classes>
	</test>
	

</suite> <!-- TestSuite -->
